a.export2rtf_link {
	font-weight: bold;
    text-decoration: underline;
}


#export2rtf_link {
  display: inline-block;
}

#block-download_email-0 {
    float:left; 
    clear: right;
}

#block-export2rtf-0 {
    float:left; 
    background: transparent;
    border: none;
    margin: 0;
}

.page-message-library #block-export2rtf-0 {
    margin: 0 0 0 10px;
}

#maincontent .block-prev_next_iaa-1 {
    clear: both;	
}

#export2rtf_link {
    display: inline-block;
    margin-right: 10px;
}