.view-message-library th.views-field-nid, .view-message-library td.views-field-nid{
  display: none;
}



#block-download_email-0 #download_email_download_link {
    display: inline-block;
    margin-right: 10px;
}

#block-download_email-0 #download_email_email_link {
    display: inline-block;
}

#block-download_email-0 #download_email_email_rtf_link {
  display: inline-block;
}
